{% extends "base.html" %}
{% block content %}
    <form action="{{ url_for('count_ans_result') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class = "row" align="center">
            {% for question in question_data %}
            <div class="col m6">
                <div class = "question">
                    <div class = "question__title">
                        {{ question.question }}
                    </div>
                    <div class = "question__content">
                        <input class = "question__content__text" type="text" name="answers_{{ question.id }}" placeholder="{{ question.hint }}" />
                    </div>
                </div>
            </div>
            {% endfor  %}
        </div>
        <div class = "row" align="center">
            <input type = "submit" class = "waves-effect waves-light btn" value="Отправить ответы">
        </div>
    </form>
{% endblock %}