{% extends "base.html" %}
{% block content %}
        <div class = "row" align="center">
            <h4>Тестовые вопросы <a href = "{{ url_for('create_test_question') }}"><i class="add_button material-icons">add</i></a></h4>
            {% for question in test_questions %}
            <div class = "question_item col s12 l6">
                <a href = "/test_q/edit/{{ question.id  }}" class = "edit_question__button waves-effect waves-light btn">
                    {{ question.title }}
                </a>
                <form class = "delete_form" action="/test_q/delete/{{ question.id }}" method = "post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="submit" class = "waves-effect waves-light btn" value = "х">
                </form>
            </div>
            {% endfor %}
        </div>
        <div class = "row" align="center">
            <h4>Вопросы с ответом <a href = "{{ url_for('create_ans_qustion') }}"><i class="add_button material-icons">add</i></a></h4>
            {% for question in word_questions %}
            <div class = "question_item col s12 l6">
                <a href = "/ans_q/edit/{{ question.id  }}" class = "edit_question__button waves-effect waves-light btn">
                    {{ question.title }}
                </a>
                <form class = "delete_form" action="/ans_q/delete/{{ question.id }}" method = "post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="submit" class = "waves-effect waves-light btn" value = "х">
                </form>
            </div>
            {% endfor %}
        </div>
{% endblock %}