{% extends "base.html" %}
{% block content %}
<div class = "row" align="center">
    <div class = "main_menu">
        <a href = "{{ url_for('create_test_quiz') }}" class="main_menu__link waves-effect waves-light btn">
            <i class="material-icons left">done</i>Тестовые вопросы
        </a>
        <a href = "{{ url_for('create_ans_quiz') }}" class="main_menu__link waves-effect waves-light btn">
            <i class="material-icons left">mode_edit</i>Текстовые вопросы
        </a>
        <a class="main_menu__link waves-effect waves-light btn" href = "{{ url_for('edit_page') }}">
            <i class="material-icons left">view_list</i>Изменить вопросы
        </a>
    </div>
</div>
{% endblock %}