{% extends "base.html" %}
{% block content %}
    <form action="{{ url_for('count_test_result') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class = "row" align="center">
            {% for question in question_data %}
            <div class="col m6">
                <div class = "question">
                    <div class = "question__title">
                        {{ question.question }}
                    </div>
                    <div class = "question__content">
                        {% for variant in question.variants %}
                        <div class = "question__content__variant col s6 ">
                            <input name="answers_{{ question.id }}" type="radio" id="q{{ loop.index }}_{{ question.id }}" value="{{ variant }}"/>
                            <label for="q{{ loop.index }}_{{ question.id }}">{{ variant }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class = "row" align="center">
            <input type = "submit" class = "waves-effect waves-light btn" value="Отправить ответы">
        </div>
    </form>
{% endblock %}