{% extends "base.html" %}
{% block content %}
    <form action="{{ url_for('count_test_result') }}" method="post">
        <div class = "row" align="center">
            {% for question in question_data %}
            <div class="col m6">
                <div class = "question">
                    <div class = "question__title">
                        {{ question.question }}
                    </div>
                    <div class = "question__content">
                        <div class = "question__content__variant col s6 ">
                            <input name="answers_{{ question.id }}" type="radio" id="q1_{{ question.id }}" value="{{ question.answer_one }}"/>
                            <label for="q1_{{ question.id }}">{{ question.answer_one }}</label>
                        </div>
                        <div class = "question__content__variant col s6 ">
                            <input name="answers_{{ question.id }}" type="radio" id="q2_{{ question.id }}" value="{{ question.answer_two }}" />
                            <label for="q2_{{ question.id }}">{{ question.answer_two }}</label>
                        </div>
                        <div class = "question__content__variant col s6 ">
                            <input name="answers_{{ question.id }}" type="radio" id="q3_{{ question.id }}" value="{{ question.answer_three }}" />
                            <label for="q3_{{ question.id }}">{{ question.answer_three }}</label>
                        </div>
                        <div class = "question__content__variant col s6 ">
                            <input name="answers_{{ question.id }}" type="radio" id="q4_{{ question.id }}" value="{{ question.answer_four }}"/>
                            <label for="q4_{{ question.id }}">{{ question.answer_four }}</label>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class = "row" align="center">
            <input type = "submit" class = "waves-effect waves-light btn" value="Отправить ответы">
        </div>
    </form>
{% endblock %}