{% extends "base.html" %}
{% block content %}
    <div class = "row question_create">
        <form action="{{ action }}" method="post">
            <input type = "hidden" name = "id" value = "0">
            <div class = "row" align="center">
                <input type = "text" name = "title" placeholder="Введите текст вопроса"
                       {% if question_data is defined %}
                            value = "{{ question_data.question }}"
                       {% endif %}>
            </div>
            <div class = "row" align="center">
                <input type = "text" name = "correct" placeholder="Введите правильный ответ"
                       {% if question_data is defined %}
                            value = "{{ question_data.correct_answer }}"
                       {% endif %}>
            </div>
            <div class = "row" align="center">
                <input type = "text" name = "hint" placeholder="Введите подсказку"
                        {% if question_data is defined %}
                            value = "{{ question_data.hint }}"
                        {% endif %}>
            </div>
            <div class = "row" align="center">
                <input type = "submit" class = "waves-effect waves-light btn" value="Сохранить вопрос">
            </div>
        </form>
    </div>
{% endblock %}